body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.image-card {
    width: 200px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.image-card img {
    width: 100%;
    height: auto;
    display: block;
}
